extends base

block content
    h4 Editing Video
    div#upload__container
        form(method="POST", name="uploadForm")
            input(name="title", placeholder="Video Title", value=video.title, required, type="text")
            input(name="description", placeholder="Description", value=video.description, required, type="text")
            input(name="hashtags", placeholder="Hashtags", value=video.hashtags.join(), required, type="text")
            input(value="Save", type="submit")